[Unit]
Description=Tablet Mode Switch HID Device

[Service]
Type=simple
ExecStart=/usr/local/sbin/tablet-mode-switch

[Install]
WantedBy=sysinit.target

